.user{
  background-color: #eee;
  height: 100vh;
  .topnav{
    span{
      .iconfont{
        font-size: .55rem;
      }
    }
  }
  .login{
    display: flex;
    align-items: center;
    height: 2rem;
    background-color:#444;
    color: #fff;
    .iconfont{
      font-size: 1rem;
      margin: 0 .16rem;
    }
    span{
      font-size: .3rem;
    }
  }
  .classes{
    margin-bottom: .1rem;
    background-color: #fff;
    a{
      .iconfont{
        color: #333;
      }
    }
  }
  p{
    font-size: .4rem;
    text-align: center;
    color: #ddd;
    line-height: 2rem;
  }
}