.goods{
  margin: 0 .1rem 1.2rem;
  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      width: 49.5%;
      margin-bottom: .16rem;
      padding: .2rem;
      border-radius: .1rem;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.12);
      a{
        text-align: center;
      }
      .goods-shop{
        img{
          width: 80%;
          height: 80%;
        }
      }
      .goods-title{
        font-size: .28rem;
        line-height: 0.8rem;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .goods-des{
        font-size: .22rem;
        line-height: .4rem;
        color: rgba(0,0,0,.54);
      }
      .goods-price{
        font-size: 0.28rem;
        height: .7rem;
        line-height: .7rem;
        color: red;
      }
    }
  }
}