.alert{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999999;
  width: 40%;
  height: 1.3rem;
  padding: .5rem 0;
  background-color: rgba(0,0,0,.4);
  border-radius: 0.1rem;
  font-size: .3rem;
  color: #fff;
  .iconfont{
    font-size: .4rem;
    line-height: .6rem;
  }
}