.count{
  display: flex;
  width: 1.2rem;
  border: 1px solid #ddd;
  opacity: .7 !important; 
  .count-text{
    width: .6rem;
  }
  input{
    width: .4rem;
    height: .4rem;
    border: none;
    background-color: #fff;
    color: #999 !important;
  }
  span{
    display: block;
    width: .4rem;
    height: .4rem;
    font-size: .22rem;
    line-height: .4rem;
    text-align: center;
    color: #999 !important;
  }
}