.table{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 1.2rem;
    border: 1px solid #ddd;
    .iconfont{
      font-size: .4rem;
    }
    span{
      font-size: .16rem;
    }
  }
}